/* universal selector */
* {
    padding: 0;
    margin: 0;
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

/* nav realeted style */
header {
    background-color: #FFF8F3;
    background-image: url("../web-protfolito/images/header_bg.png");
    background-repeat: no-repeat;
    background-position: bottom right;

}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 200px;

}

span {
    color: #FD6E0A;

}

.search ul>li {
    display: inline;
    margin-right: 50px;
    color: (#474747);
    font-size: 20px;

}

.search a {
    text-decoration: none;
}

.btn-main {

    font-size: 20px;
    color: #FFF;
    font-weight: 700;

    background: #FD6E0A;
    border-radius: 5px;
    border: 0;
    padding: 15px 35px;


}

.banner {
    padding: 30px 30px 0px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.banner-title {
    width: 585px;
}

.banner .man-img {
    width: 500px;
    height: 600px;
}

.banner-title {
    font-size: 45px;
    font-weight: 600;
    color: #474747;
    margin-bottom: 5px;
}

.banner-heading {
    font-size: 85px;
    font-weight: 700;
    color: #181818;
    margin-bottom: 20px;

}

.banner-tontant {
    font-size: 18px;
    font-weight: 400;
    color: #757575;
    width: 585px;

}

/* start main section */
.main-section {
    background-color: #FFF8F3;
    width: 1140px;
    height: 550px;
    border-radius: 10px;
    padding: 200px 150px 200px 150px;
    text-align: center;
    margin-top: 130px;
    margin-bottom: 200px;
    margin-left: auto;
    margin-right: auto;

}

.section-title {
    color: #181818;
    font-size: 35px;
    font-weight: 700;
}

.section-paragraph {
    color: #757575;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px
}

/* sescion inforrmatin */
.about-info-main {
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: 30px;
}

.info-title {
    color: #757575;
    font-size: 20px;
    font-weight: 400;
}

.info-dspk {
    font-weight: 700px;
    font-family: 20px;
    color: (#474747);


}

.about-info {
    margin-left: 50px;
}

/* section 2 style */
/*  */

/* .what-am-i {

    color: (#181818);
    text-align: center;

    font-size: 35px;

    font-weight: 700;

}


.what{
 text-align: center;
 justify-content: center;
 position: absolute;
} */
.section-title {
    text-align: center;
    margin-bottom: 30px;
    color: #181818;
    font-weight: 700;
    font-size: 35px;
}

.what-i-d {
    padding: 30px 150px;
    justify-content: center;
    text-align: center;
}

.paragraph-section {
    color: #757575;
    text-align: center;
    width: 909px;
    margin: 0 auto;
    font-weight: 400px;
    font-size: 18px
}

.section-2 {
    text-align: center;
    justify-content: center;
}

/* skill add with img */
.skill-container {

    width: 1140px;
    display: flex;
    margin: 50px auto;
    height: 277px;
    gap: 24px;
    padding: 30px;
    margin-bottom: 130px;
}

.skill {

    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}

.skill img {
    width: 44px;
    height: 44px;
    margin-bottom: 30px;

}

.skill-titlel {
    text-align: left;
    color: (#181818);
    font-size: 20px;
    font-weight: 700;




}

.skill-description {
    color: #757575;
    margin-top: 20px;
    width: 201px;
    color: (#757575);
    padding: 30px;
    font-size: 16px;

    font-weight: 400;
    line-height: 28px;
}

/* resume section */
.resume-container {
    margin-top: 110px;
    display: flex;
    margin-left: 250px;
    margin-right: 259px;
    gap: 71px;
}

.resume-title {

    color: #474747;

    font-size: 30px;

    font-weight: 700;
    margin-bottom: 30px;
    margin-top: 30px;


}
.resume-head{
    color:  #474747;

font-size: 25px;

font-weight: 700;
margin-bottom: 10px;
margin-top: 30px;

}
.resume-mini{
    color:  #757575;

font-size: 20px;

font-weight: 600;
margin-bottom: 20px;
}
.resume-paragraph{
    
    color: #757575;
   
    font-size: 16px;
    
    font-weight: 400;
    line-height: 28px;
    margin-bottom: 30px;
}
#btn-cv{
    margin-top: 70px;
    margin-bottom: 131px;

}